.WorldMap {
	width: 100%;
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
}

.WorldMap_map {
	position: absolute;
	width: 690px;
	height: 345px;
	background-image: url("../img/worldmap.gif");
	background-repeat: no-repeat;
	background-size: contain;
}

.WorldMap_satellite {
	display: none;
	position: absolute;
	top: -15px;
	left: -10px;
	width: 30px;
	height: 30px;
	min-height: 30px;
	font-size: 1.5em;
	color: white;
	z-index: 10;
}

.WorldMap .icon {
	width: 100%;
	font-size: 1.5em;
}

.WorldMap_dots {
	width: 6px;
	text-align: center;
	position: absolute;
	z-index: 5;
}
